# Subsetting pivot tables
A pivot table is just a DataFrame with sorted indexes, so the techniques you have learned already can be used to subset them. In particular, the **.loc[] **+ slicing combination is often helpful.

**pandas** is loaded as **pd**. **temp_by_country_city_vs_year** is available.

In [1]:
import pandas as pd
path=r'/media/documentos/Cursos/Data Science/Python/Data_Science_Python/data_sets/'
file='temperatures.csv'
temperatures=pd.read_csv(path+file,index_col=0)
temperatures['date'] =  pd.to_datetime(temperatures['date'], format='%Y-%m-%d')
temperatures["year"]=temperatures["date"].dt.year
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c",index=["country","city"],columns="year")
print(temp_by_country_city_vs_year.head())

year                        2000       2001       2002       2003       2004  \
country     city
Afghanistan Kabul      15.822667  15.847917  15.714583  15.132583  16.128417
Angola      Luanda     24.410333  24.427083  24.790917  24.867167  24.216167
Australia   Melbourne  14.320083  14.180000  14.075833  13.985583  13.742083
            Sydney     17.567417  17.854500  17.733833  17.592333  17.869667
Bangladesh  Dhaka      25.905250  25.931250  26.095000  25.927417  26.136083

year                        2005       2006       2007       2008       2009  \
country     city
Afghanistan Kabul      14.847500  15.798500  15.518000  15.479250  15.093333
Angola      Luanda     24.414583  24.138417  24.241583  24.266333  24.325083
Australia   Melbourne  14.378500  13.991083  14.991833  14.110583  14.647417
            Sydney     18.028083  17.749500  18.020833  17.321083  18.175833
Bangladesh  Dhaka      26.193333  26.440417  25.951333  26.004500  26.535583

year                        2010       2011       2012       2013
country     city
Afghanistan Kabul      15.676000  15.812167  14.510333  16.206125
Angola      Luanda     24.440250  24.150750  24.240083  24.553875
Australia   Melbourne  14.231667  14.190917  14.268667  14.741500
            Sydney     17.999000  17.713333  17.474333  18.089750
Bangladesh  Dhaka      26.648167  25.803250  26.283583  26.587000

Use **.loc[]** on **temp_by_country_city_vs_year** to take subsets.

- From Egypt to India.
- From Egypt, Cairo to India, Delhi.
- From Egypt, Cairo to India, Delhi, and 2005 to 2010.

In [3]:
# Subset for Egypt to India
print(temp_by_country_city_vs_year.loc["Egypt":"India"])

# Subset for Egypt, Cairo to India, Delhi
print(temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi")])

# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
print(temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi"),"2005":"2010"])

year                       2000       2001       2002       2003       2004  \
country  city
Egypt    Alexandria   20.744500  21.454583  21.456167  21.221417  21.064167
         Cairo        21.486167  22.330833  22.414083  22.170500  22.081917
         Gizeh        21.486167  22.330833  22.414083  22.170500  22.081917
Ethiopia Addis Abeba  18.241250  18.296417  18.469750  18.320917  18.292750
France   Paris        11.739667  11.371250  11.871333  11.909500  11.338833
Germany  Berlin       10.963667   9.690250  10.264417  10.065750   9.822583
India    Ahmadabad    27.436000  27.198083  27.719083  27.403833  27.628333
         Bangalore    25.337917  25.528167  25.755333  25.924750  25.252083
         Bombay       27.203667  27.243667  27.628667  27.578417  27.318750
         Calcutta     26.491333  26.515167  26.703917  26.561333  26.634333
         Delhi        26.048333  25.862917  26.634333  25.721083  26.239917
         Hyderabad    27.231833  27.555167  27.665167  27.844583  27.228500
         Jaipur       26.430250  26.023000  27.031667  26.027417  26.642167
         Kanpur       25.353917  25.326500  26.116833  25.409083  25.586500
         Lakhnau      25.353917  25.326500  26.116833  25.409083  25.586500
         Madras       28.811667  29.162917  29.246500  29.273083  28.810917
         Nagpur       26.181417  26.321667  26.753000  26.503833  26.406333
         New Delhi    26.048333  25.862917  26.634333  25.721083  26.239917
         Pune         25.110917  25.337833  25.583000  25.748417  25.316167
         Surat        27.029000  26.897250  27.347750  27.230917  27.290583

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Alexandria   21.082333  21.148167  21.507750  21.739000  21.670500
         Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250
         Hyderabad    27.488833  27.471000  27.545333  27.446667  28.026500
         Jaipur       25.772250  26.429833  26.267000  25.877583  26.919500
         Kanpur       25.621500  25.848833  25.436083  25.109750  25.987083
         Lakhnau      25.621500  25.848833  25.436083  25.109750  25.987083
         Madras       29.099417  29.073250  28.970167  29.024083  29.417417
         Nagpur       26.229167  26.374833  26.393667  26.188000  27.138917
         New Delhi    25.716083  26.365917  26.145667  25.675000  26.554250
         Pune         25.085583  25.310167  25.584833  25.230250  25.868250
         Surat        26.724500  27.149417  27.311750  26.828750  27.819833

year                       2010       2011       2012       2013
country  city
Egypt    Alexandria   22.459583  21.181500  21.552583  21.438500
         Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250
         Hyderabad    27.693417  27.408833  28.018583  28.851250
         Jaipur       26.818417  25.916500  25.884500  26.844125
         Kanpur       26.021750  25.062083  25.445417  26.121250
         Lakhnau      26.021750  25.062083  25.445417  26.121250
         Madras       29.047333  29.063167  29.778417  30.411750
         Nagpur       26.927000  26.004667  26.327917  27.112375
         New Delhi    26.520250  25.629500  25.889417  26.709250
         Pune         25.749167  25.161417  25.296833  25.847625
         Surat        27.681667  27.016583  26.889250  27.437750
year                       2000       2001       2002       2003       2004  \
country  city
Egypt    Cairo        21.486167  22.330833  22.414083  22.170500  22.081917
         Gizeh        21.486167  22.330833  22.414083  22.170500  22.081917
Ethiopia Addis Abeba  18.241250  18.296417  18.469750  18.320917  18.292750
France   Paris        11.739667  11.371250  11.871333  11.909500  11.338833
Germany  Berlin       10.963667   9.690250  10.264417  10.065750   9.822583
India    Ahmadabad    27.436000  27.198083  27.719083  27.403833  27.628333
         Bangalore    25.337917  25.528167  25.755333  25.924750  25.252083
         Bombay       27.203667  27.243667  27.628667  27.578417  27.318750
         Calcutta     26.491333  26.515167  26.703917  26.561333  26.634333
         Delhi        26.048333  25.862917  26.634333  25.721083  26.239917

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250

year                       2010       2011       2012       2013
country  city
Egypt    Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250
year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250

year                       2010
country  city
Egypt    Cairo        23.718250
         Gizeh        23.718250
Ethiopia Addis Abeba  18.298250
France   Paris        10.409833
Germany  Berlin        8.606833
India    Ahmadabad    28.017833
         Bangalore    25.705250
         Bombay       27.765417
         Calcutta     27.288833
         Delhi        26.520250