# Using pandas functions effectively
You are creating a Python application that will calculate summary statistics based on user-selected variables. The complete dataset is quite large. For now, you are setting up your code using part of the dataset, preloaded as `adult`. As you create a reusable process, make sure you are thinking through the most efficient way to setup the `GroupBy` object.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
adult= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\adult.csv")
adult.head(3)

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

* Create a list of the names for two user-selected variables: `"Education"` and `"Above/Below 50k"`.
* Create a `GroupBy` object, `gb`, using the `user_list` as the grouping variables.
* Calculate the mean of `"Hours/Week"` across each group using the most efficient approach covered in the video.

In [2]:
# Create a list of user-selected variables
user_list = ["Education","Above/Below 50k"]

# Create a GroupBy object using this list
gb = adult.groupby(by=user_list)

# Find the mean for the variable "Hours/Week" for each group - Be efficient!
print(gb["Hours/Week"].mean())

Education      Above/Below 50k
 10th           <=50K             36.574053
                >50K              43.774194
 11th           <=50K             33.322870
                >50K              45.133333
 12th           <=50K             35.035000
                >50K              44.818182
 1st-4th        <=50K             37.864198
                >50K              48.833333
 5th-6th        <=50K             38.539432
                >50K              46.000000
 7th-8th        <=50K             38.830033
                >50K              47.500000
 9th            <=50K             37.667351
                >50K              44.851852
 Assoc-acdm     <=50K             39.264339
                >50K              44.256604
 Assoc-voc      <=50K             40.817826
                >50K              43.853186
 Bachelors      <=50K             40.586152
                >50K              45.475462
 Doctorate      <=50K             45.429907
                >50K              47.513072
 HS-grad        <=50K             39.727510
                >50K              45.042985
 Masters        <=50K             41.223822
                >50K              45.917623
 Preschool      <=50K             36.647059
 Prof-school    <=50K             42.816993
                >50K              49.092199
 Some-college   <=50K             37.450203
                >50K              44.820476
Name: Hours/Week, dtype: float64