# Validating continents
Your colleague has informed you that the data on unemployment from countries in Oceania is not reliable, and you'd like to identify and exclude these countries from your `unemployment` data. The `.isin()` function can help with that!

Your task is to use `.isin()` to identify countries that are not in Oceania. These countries should return True while countries in Oceania should return False. This will set you up to use the results of .isin() to quickly filter out Oceania countries using Boolean indexing.

The unemployment DataFrame is available, and pandas has been imported as pd.

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
unemployment= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv")
unemployment.head(10)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,AGO,Angola,Africa,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
2,ALB,Albania,Europe,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
3,ARE,United Arab Emirates,Asia,2.48,2.30,2.18,2.04,1.91,1.77,1.64,2.46,2.35,2.23,3.19,3.36
4,ARG,Argentina,South America,7.71,7.18,7.22,7.10,7.27,7.52,8.11,8.35,9.22,9.84,11.46,10.90
5,ARM,Armenia,Asia,19.01,18.44,17.30,16.18,17.50,18.26,17.62,17.70,18.97,18.30,21.21,20.90
6,AUS,Australia,Oceania,5.21,5.08,5.22,5.66,6.08,6.05,5.71,5.59,5.30,5.16,6.46,5.11
7,AUT,Austria,Europe,4.82,4.56,4.87,5.33,5.62,5.72,6.01,5.50,4.85,4.49,5.36,6.30
8,AZE,Azerbaijan,Asia,5.63,5.42,5.19,4.97,4.91,4.96,5.00,5.00,4.90,4.85,6.46,6.58
9,BDI,Burundi,Africa,1.61,1.60,1.59,1.58,1.57,1.60,1.59,1.59,1.59,1.59,1.71,1.79

* Define a Series of Booleans describing whether or not each continent is outside of Oceania; call this Series not_oceania.

In [8]:
not_oceania = ~unemployment['continent'].isin(["Oceania"])
not_oceania.head(10)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
Name: continent, dtype: bool

* Use Boolean indexing to print the `unemployment` DataFrame without any of the data related to countries in Oceania.

In [10]:
# Define a Series describing whether each continent is outside of Oceania
not_oceania = ~unemployment["continent"].isin(["Oceania"])

# Print unemployment without records related to countries in Oceania
print(unemployment[not_oceania])

    country_code          country_name      continent   2010   2011   2012  \
0            AFG           Afghanistan           Asia  11.35  11.05  11.34
1            AGO                Angola         Africa   9.43   7.36   7.35
2            ALB               Albania         Europe  14.09  13.48  13.38
3            ARE  United Arab Emirates           Asia   2.48   2.30   2.18
4            ARG             Argentina  South America   7.71   7.18   7.22
..           ...                   ...            ...    ...    ...    ...
175          VNM               Vietnam           Asia   1.11   1.00   1.03
178          YEM           Yemen, Rep.           Asia  12.83  13.23  13.17
179          ZAF          South Africa         Africa  24.68  24.64  24.73
180          ZMB                Zambia         Africa  13.19  10.55   7.85
181          ZWE              Zimbabwe         Africa   5.21   5.37   5.15

      2013   2014   2015   2016   2017   2018   2019   2020   2021
0    11.19  11.14  11.13  11.16  11.18  11.15  11.22  11.71  13.28
1     7.37   7.37   7.39   7.41   7.41   7.42   7.42   8.33   8.53
2    15.87  18.05  17.19  15.42  13.62  12.30  11.47  13.33  11.82
3     2.04   1.91   1.77   1.64   2.46   2.35   2.23   3.19   3.36
4     7.10   7.27   7.52   8.11   8.35   9.22   9.84  11.46  10.90
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
175   1.32   1.26   1.85   1.85   1.87   1.16   2.04   2.39   2.17
178  13.27  13.47  13.77  13.43  13.30  13.15  13.06  13.39  13.57
179  24.56  24.89  25.15  26.54  27.04  26.91  28.47  29.22  33.56
180   8.61   9.36  10.13  10.87  11.63  12.01  12.52  12.85  13.03
181   4.98   4.77   4.78   4.79   4.78   4.80   4.83   5.35   5.17

[174 rows x 15 columns]