# Named aggregations
You've seen how `.groupby()` and `.agg()` can be combined to show summaries across categories. Sometimes, it's helpful to name new columns when aggregating so that it's clear in the code output what aggregations are being applied and where.

Your task is to create a DataFrame called `continent_summary` which shows a row for each continent. The DataFrame columns will contain the mean unemployment rate for each continent in 2021 as well as the standard deviation of the 2021 employment rate. And of course, you'll rename the columns so that their contents are clear!

The `unemployment` DataFrame is available, and `pandas` has been imported as `pd`.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
unemployment= pd.read_csv(r"D:\Cursos\Data_Science_Python\data_sets\clean_unemployment.csv")
unemployment.head(10)

,country_code,country_name,continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Asia,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,AGO,Angola,Africa,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
2,ALB,Albania,Europe,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
3,ARE,United Arab Emirates,Asia,2.48,2.30,2.18,2.04,1.91,1.77,1.64,2.46,2.35,2.23,3.19,3.36
4,ARG,Argentina,South America,7.71,7.18,7.22,7.10,7.27,7.52,8.11,8.35,9.22,9.84,11.46,10.90
5,ARM,Armenia,Asia,19.01,18.44,17.30,16.18,17.50,18.26,17.62,17.70,18.97,18.30,21.21,20.90
6,AUS,Australia,Oceania,5.21,5.08,5.22,5.66,6.08,6.05,5.71,5.59,5.30,5.16,6.46,5.11
7,AUT,Austria,Europe,4.82,4.56,4.87,5.33,5.62,5.72,6.01,5.50,4.85,4.49,5.36,6.30
8,AZE,Azerbaijan,Asia,5.63,5.42,5.19,4.97,4.91,4.96,5.00,5.00,4.90,4.85,6.46,6.58
9,BDI,Burundi,Africa,1.61,1.60,1.59,1.58,1.57,1.60,1.59,1.59,1.59,1.59,1.71,1.79

* Create a column called `mean_rate_2021` which shows the mean 2021 unemployment rate for each continent.
* Create a column called `std_rate_2021` which shows the standard deviation of the 2021 unemployment rate for each continent.

In [2]:
continent_summary = unemployment.groupby("continent").agg(
    # Create the mean_rate_2021 column
    mean_rate_2021 = ("2021","mean"),
    # Create the std_rate_2021 column
    std_rate_2021 = ("2021","std"),
)
print(continent_summary)

               mean_rate_2021  std_rate_2021
continent
Africa              10.473585       8.131636
Asia                 6.906170       5.414745
Europe               7.414872       3.947825
North America        9.155000       5.076482
Oceania              4.280000       2.671522
South America        9.924167       3.611624